<div class="row">
    <form [formGroup]="userform" (ngSubmit)="submitted(userform)">
        <div class="form-group">
            <input type="text" formControlName="username" class="form-control" placeholder="username" required>
            <div>
                <div *ngIf="(userform.get('username')?.touched && userform.get('username')?.invalid); else elseBlock1">
                    <!-- <p style="font-size: 12px;color:red">error</p> -->
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('username')?.errors?.['required']">required username</p> 
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('username')?.errors?.['minlength']">need atleast 5 characters</p> 
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('username')?.errors?.['maxlength']">need only 10 characters</p> 
                </div>
                <ng-template #elseBlock1>
                    <div *ngIf="bo1 ; else elseblock11">
                        <p style="font-size: 12px;color:red">username not found</p>
                    </div>
                    <ng-template #elseblock11>
                        <p style="font-size: 12px;color:white">no error</p>
                    </ng-template>
                     <!-- <p style="font-size: 12px;color:white">no error</p>  -->
                </ng-template>
            </div>
        </div> 
        <div class="form-group">
            <input type="password" formControlName="currentpassword" class="form-control" placeholder="currentpassword" required>
            <div>
                <div *ngIf="(userform.get('currentpassword')?.touched && userform.get('currentpassword')?.invalid); else elseBlock2">
                    <!-- <p style="font-size: 12px;color:red">error</p> -->
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('currentpassword')?.errors?.['required']">required current password</p> 
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('currentpassword')?.errors?.['minlength']">need atleast 5 characters</p> 
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('currentpassword')?.errors?.['maxlength']">need only 10 characters</p> 
                </div>
                <ng-template #elseBlock2>
                    <div *ngIf="bo2 ; else elseblock22">
                        <p style="font-size: 12px;color:red">password incorrect</p>
                    </div>
                    <ng-template #elseblock22>
                        <p style="font-size: 12px;color:white">no error</p>
                    </ng-template>
                     <!-- <p style="font-size: 12px;color:white">no error</p> -->
                </ng-template>
            </div>
        </div> 
        <div class="form-group">
            <input type="password" formControlName="newpassword" class="form-control" placeholder="newpassword" required>
            <div>
                <div *ngIf="(userform.get('newpassword')?.touched && userform.get('newpassword')?.invalid); else elseBlock3">
                    <!-- <p style="font-size: 12px;color:red">error</p> -->
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('newpassword')?.errors?.['required']">required new password</p> 
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('newpassword')?.errors?.['minlength']">need atleast 5 characters</p> 
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('newpassword')?.errors?.['maxlength']">need only 10 characters</p> 
                </div>
                <ng-template #elseBlock3>
                    <p style="font-size: 12px;color:white">no error</p>
                </ng-template>
            </div>
        </div> 
        <div class="form-group">
            <input type="password" formControlName="newpassword1" class="form-control" placeholder="repeat newpassword" required>
            <div>
                <div *ngIf="(userform.get('newpassword1')?.touched && userform.get('newpassword1')?.invalid); else elseBlock4">
                    <!-- <p style="font-size: 12px;color:red">error</p> -->
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('newpassword1')?.errors?.['required']">required new password</p> 
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('newpassword1')?.errors?.['minlength']">need atleast 5 characters</p> 
                    <p style="font-size: 12px;color:red;" *ngIf="userform.get('newpassword1')?.errors?.['maxlength']">need only 10 characters</p> 
                </div>
                <ng-template #elseBlock4>
                    <div *ngIf="bo ; else elseblock44">
                        <p style="font-size: 12px;color:red">password didnt match</p>
                    </div>
                    <ng-template #elseblock44>
                        <p style="font-size: 12px;color:white">no error</p>
                    </ng-template>
                </ng-template>
            </div>
        </div> 
        <input type="submit" value="change" class="form-control btn" [disabled]="userform.invalid">

    </form>
</div>