
  


  <div class="container-fluid">
    <div class="row adna">
      <div class="col-3">
        
      </div>
      <div class="col-8 ">
        <p style="color:azure; font-size: 30px; margin-left: 140px;">Easy buy pharmacy</p>
      </div>
      <div class="col-1">
        <button style="margin-top: 15px;" (click)="sendtologin()">Login</button>
  
      </div>
    </div>
    <!-- <div class="row adna">
   
      <button (click)="sendtologin()">Login</button>
    </div> -->
    <div class="container-fluid jo">
         <!-- <router-outlet></router-outlet> -->
         <app-contents></app-contents>
    </div>
    <div class="row adfo">
      <h5 style="color: azure;"> &#169; copyright 2011</h5>
    </div>
  </div> 
   
  
  